body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #4a4a4a;
}

/* Estilos del formulario */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="date"],
form input[type="datetime-local"],
form input[type="number"],


form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #3700b3;
}

/* Estilos de la tabla */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: center;
    height: auto;
}

th {
    background-color: #d32f2f;
    color: #fff;
}

td {
    border-bottom: 1px solid #ddd;
}

td select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

td button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td button:hover {
    background-color: #6200ea;
}

/* Añadir ancho específico a las columnas */
table th:nth-child(2), table td:nth-child(2) {
    width: 300px; /* Ajustar ancho de la columna "Nombre" */
}

table th:nth-child(1), table td:nth-child(1),
table th:nth-child(7), table td:nth-child(7),
table th:nth-child(8), table td:nth-child(8) {
    width: 100px; /* Ajustar ancho de otras columnas si es necesario */
}

/* Colores de estado */
.estado-en-venta {
    background-color: #d4edda;
    color: #155724;
}

.estado-sin-stock {
    background-color: #f8d7da;
    color: #721c24;
}
