/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #4A148C;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

form label {
    color: #4A148C;
    font-weight: bold;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form input:focus, form select:focus, form button:focus {
    border-color: #6200ea;
    outline: none;
}

form button {
    background-color: #6200ea;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #3700b3;
}

/* Estilo de la tabla */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #4A148C;
    color: #fff;
}

table td input, table td select, table td button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

table td select[required] {
    background-color: #f4f7fc;
    border: 1px solid #ddd;
}

table td button {
    background-color: #4A148C;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

table td button:hover {
    background-color: #3700b3;
}

table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

table tr:nth-child(even) {
    background-color: #f4f7fc;
}

table tr td:nth-child(2) {
    width: 300px; /* Ampliar la columna "Nombre" */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table td.estado-en-venta {
    background-color: #e8f5e9;
}

table td.estado-sin-stock {
    background-color: #ffebee;
}
